# App Environment Variables
NODE_ENV=development
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
NEXTAUTH_URL=http://localhost:3000
NEXT_PUBLIC_WS_URL=

# Google Auth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Cloudinary
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=

# Firebase
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=

# Database
DATABASE_URL=

# Stripe
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# Mail
ZEPTOMAIL_API_KEY=
ZEPTOMAIL_FROM_ADDRESS=

# Integrations
PINECONE_API_KEY=
PINECONE_INDEX_NAME=
OPENAI_API_KEY=

# Calendly
NEXT_PUBLIC_CALENDLY_URL=
